@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
}
ul {
    display: flex;
}

li {
    padding: 0 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
}

header img {
    width: 100px;
    height: 30px;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../images/imgOne.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


main button{
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background-color: rgb(61, 61, 255);
    color: white;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

main button:hover{ 
    background-color: blue;

}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 180px;
}

main p {
    padding: 2rem 0;
    color: rgb(227, 226, 226);
}

main h1 {
    color: rgb(201, 255, 54);
    font-weight: bold;
    font-size: 3rem;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: none;
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: black;
    width: 60%;
    height: 100vh;
}

.side ul {
    flex-direction: column;
    margin-top: 20px;
}

.side li {
    padding: 1rem;
}

.side h3 {
    float: right;
    padding: 1rem;
    color: white;
    transform: rotate(88deg);
}

.menu {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 868px) {
    .menu {
        display: block; 
    }

    .hide {
        display: none;
    }
}