@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
}
ul {
    display: flex;
}

li {
    padding: 0 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
}

header img {
    width: 100px;
    height: 30px;
}

.main {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../images/imgOne.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.product {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    color: white;

}

.product h1 {
    border-bottom: 2px solid blue;
}


.main-product {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 50px;
}

.main-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
}
.main-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-box {
    height: 300px;
}

.title {
    margin-top: 40px;
    padding: 2rem;
}

.active {
    color: blue;
}